{{ define "main" }}

{{ $page := . }}

{{ $rows := $page.Params.templates.single.rows | default $page.Site.Params.templates.single.rows | default slice }}

<main class="main" role="main" id="top">

<!-- <div class="message is-warning m-4 p-4">We are overhauling the arrangement of the topics, as we move to <a href='https://superphysics.org'>superphysics.org</a> so expect some links to be broken</div> -->
    
    {{ if gt (len $rows) 0 }}
        <section class="section template-single px-5">
            <div class="container">
                {{ range $row := $rows }}
                    <div class="columns">
                    {{ range $column := $row.columns }}
                        {{ $width := $column.width | default 0 }}
                        {{ $offset := $column.offset | default 0 }}
                        {{ $class := "column" }}
                        {{ if ne $width 0 }}
                            {{ $class = printf "%s is-%d" $class $width }}
                        {{ end }}
                        {{ if ne $offset 0 }}
                            {{ $class = printf "%s is-offset-%d" $class $offset}}
                        {{ end }}



                        <div class="{{ $class }}">
                        {{ range $widget := $column.widgets }}
                            {{ $path := printf "widgets/%s.html" $widget}} 
                            {{ $fullPath := printf "partials/%s" $path }}



                            {{ if templates.Exists $fullPath }}


                                {{ partial $path $page }}



                            {{ else }}


                                {{ $message := printf `templates/single: widget "%s" (%s) not found` $widget $fullPath }}
                                {{ partial "functions/error.html" (dict "context" $page "message" $message) }}
                            {{ end }}
                        {{ end }}
                        </div>
                    {{ end }}
                    </div>
                {{ end }}
            </div>
              <div class="columns is-multiline is-mobile my-6">    
                <div class="column is-6-desktop is-12-mobile">
                  <a href="{{ .Params.linkb | relURL }}" title="Contact" class="button is-light is-fullwidth is-rounded my-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="icon mr-2" fill='gray'><path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"/></svg>
                  Back to {{ .Params.linkbtext }}</a>
                </div>
                <div class="column is-6-desktop is-12-mobile">
                  <a href="{{ .Params.linkf | relURL }}" title="Contact" class="button is-light is-fullwidth is-rounded my-2">Next {{ .Params.linkftext }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="icon ml-2" fill='gray'><path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
                  </a>
                </div>  
              </div>               
            
        </section>
    {{ end }}



</main>




<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2557957536703477"
     crossorigin="anonymous"></script>

     
{{ end }}
